.app {
  display: flex;
  background-color: #06141b;
  height: 100vh;
  overflow: hidden;
  font-family: 'Myriad Pro Regular', sans-serif;
  /* font-family: "MyriadPro"; */
  justify-content: center;
  align-content: center;
}



.color1 {color: #060607;}
.color2 {color: #06141b;}
.color3 {color: #092132;}
.color4 {color: #0f3348;}
.color5 {color: #154762;}