:root {
  
  background-color:#ffddd2;
  padding: 0%;
  margin: 0%;
}



.color1 {color: #008de1;}
.color2 {color: #00a384;}
.color3 {color: #81c456;}
.color4 {color: #ffd988;}
.color5 {color: #ffddd2;}


